<div class="container">
  <div class="wrap">
      <div id="imageDiv" class="wrapDiv">			
          <img src="assets/img-01.png" alt="img" id="img">
      </div>
        <form #connexionForm="ngForm" *ngIf="connexion" class="wrapDiv" (ngSubmit)="onSubmitConnexion(connexionForm)" >
            <p>Connexion</p>
            <input [(ngModel)]="user.email" required class="input" type="text" name="email" placeholder="Email">
            <input [(ngModel)]="user.password" required class="input" type="text" name="password" type="password" placeholder="Mot de passe">
            <input class="loginButn" type="submit" value="Se connecter">
            <p class="changeTexte"  (click)="changePanel()">Créer un compte →</p>
        </form>
      <form *ngIf="!connexion" class="wrapDiv">
          <p>Inscription</p>
          <input class="input" type="text" name="email" placeholder="Email">
          <input class="input" type="text" name="password" type="password" placeholder="Mot de passe">
          <button class="loginButn"> S'inscrire </button>
          <p class="changeTexte" (click)="changePanel()">Se connecter →</p>
      </form>
  </div>
</div>