.wrap{
  width: 100%;
  max-width: 780px;
  height: 85%;
  max-height:678px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
